/* general */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* links */

a:link, a:active, a:visited {
  color: #000;
  text-decoration: none;
}

/* navbar */

nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: white;
}

.nav-link {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* welcome section */

#welcome-section {
  background-color: white;
  min-height: 55vh;
  padding-top: 45vh;
}


/* projects section */

#projects {
  background-color: grey;
  padding-top: 45vh;
  min-height: 55vh;
}

/* contact section */

#contact {
  background-color: black;
  color: white;
  padding-top: 45vh;
  min-height: 55vh;
}

#contact a:link, #contact a:hover, #contact a:visited {
  color: #fff;
}

/* small screens */

@media only screen and (min-width: 768px) {

}

/* logo */


/* animate */

.text {
    position: relative;
    display: block;
    overflow: hidden
}

.animate {
    /* -webkit-animation: animate 1.2s cubic-bezier(.2, .6, .2, 1);
    -moz-animation: animate 1.2s cubic-bezier(.2, .6, .2, 1); */
    animation: animate 1.2s cubic-bezier(.2, .6, .2, 1);
    /* -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards; */
    animation-fill-mode: backwards
}

/* @-webkit-keyframes animate {
    0% {
        -webkit-transform: translateY(100%)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}*/

@keyframes animate {
    0% {
        transform: translateY(100%)
    }

    100% {
        transform: translateY(0)
    }
}

.delay {
  /*  -webkit-animation-delay: .3s; */
    animation-delay: .3s;
}
